@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    margin: 50px;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
}

header  img{
    display: block;
    margin: 0 auto;
}

.nav-menu{
    list-style: none;
    text-align: center;
    padding: 0.5em 0;
    margin-top: 2.5em;
    background-color: gray;
    border:1px solid gray ;
    border-radius: 8px;
}

.menu-item{
    display: inline-block;
    font-size: 1.5em;
    padding-left: 0.5em;
}

.menu-item a{
    text-decoration: none;
    color: #f4ce14;
}

.menu-item a:hover{
    text-decoration: underline;
}
.banner{
    height: 300px;
}

.banner-img{
    height: 200px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position:center ;
    margin-top: 2em;
    border-radius:8px;
    filter: brightness(0.70);
    font-size: 2em;
    padding: 1em 1em;
    
}
.banner-text{
    position: relative;
    top: -200px;
    left: 30px;
    padding: 2em;
    width: 500px;
    color: #ffffff;
}

.banner-text p{
    padding: 1em 0  1em 0;
}

.banner-text h2{
   font-size: 2em;
   font-weight: 600;
   color: #f4ce14;
}



section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5em;
    flex-wrap: wrap;
    gap: 1em;


}

article{
    border: 1px solid #4d625b;
    padding: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 600px;
}

article h3{
    font-weight: 600;
    color: #f4ce14;
}
article p{
    color: #4d625b;
    width: 300px;
}

article a{
    color: #f4ce14;
    text-decoration: none;
}

#open-hours{
    padding-top: 0.5em;
    border-top: 1px solid #4d625b;
    font-size:12px;
}
article:hover{
    box-shadow: 0 10px 30px 0 #aaaa;
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s;
}
article:hover a{
    text-decoration: underline;
}


footer{
    border-top: 2px solid #4d625b;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    color: #4d625b;
}
